@media screen and (max-width: 400px) {
    
    .nav-container{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
    .banner-container{
       flex-direction: column;
       width: 100%;
    }
    .banner-text-section{
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    .banner-img-section img{
        width: 300px;
        margin-left: 20px;        
    }

    .online-games-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 30px 10px;
    }
    .online-games-cards .game-card{
        margin-bottom: 20px;
    }
}